@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.link {
  color: #fdba74 !important;
  /* color: #9333ea !important; */
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.search-link,
.search-link:hover {
  text-decoration: none;
  color: white;
}

.destyle {
  text-decoration: none;
  color: black;
}

.destyle:hover {
  /* color: #9333ea; */
  color: #fdba74;
}

.btn {
  padding: 3px 9px;
  border: 0 none !important;
  font-weight: 500;
}

.btn-search {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  color: white !important;
  /* background-color: #9333ea !important; */
  background-color: #fdba74 !important;
}

.btn-next {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  color: #fdba74 !important;
  /* background-color: #9333ea !important; */
  background-color: white !important;
}

.btn-paw {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  color: white;
  /* background-color: #9333ea !important; */
  background-color: #fdba74 !important;
}

.btn-paw-down {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  color: gold;
  /* background-color: #9333ea !important; */
  background-color: white !important;
}

.btn-home {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  /* background-color: #1e40af !important; */
  background-color: white !important;
}

.btn-sign {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  background-color: #fdba74 !important;
  /* background-color: #9333ea !important; */
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

#offcanvasNavbar,
#offcanvasNavbar:focus,
#offcanvasNavbar:active {
  border: 0 none !important;
  box-shadow: none;
}

.dd-wrapper {
  color: aquamarine;
  background-color: aquamarine;
}

.background {
  background-image: url("./assets/golden.jpg");
  background-repeat: no-repeat, repeat;
  height: 350px;
  background-size: 100%;
}

.homebar {
  padding: 9px 9px;
  border: 0 none !important;
  font-weight: 600 !important;
  /* background-color: #34d399 !important; */
  /* background-color: #1e40af; */
  background-color: #ddd6fe;
  /* background-color: #9333ea; */
  background-color: #fdba74;
}
/* 
STOP HERE */

* {
  box-sizing: border-box;
}

:root {
  --color-1: #242526;
  --color-2: white;
  --color-3: #0084ff;
  --color-4: grey;
  --color-5: #eb4034;
  --color-6: #333;
}

/* Navbar */
.nav-inbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  background-color: var(--color-1);
  border-bottom: 1px solid var(--color-6);
}

.nav-inbox a {
  color: var(--color-2);
  text-decoration: none;
}

.nav-inbox nav div a {
  margin-right: 20px;
}

/* Register */
section {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 1px 2px 10px var(--color-4);
  padding: 10px 20px;
  border-radius: 5px;
}

section h3 {
  text-align: center;
  font-size: 20px;
  color: var(--color-4);
}

section .form {
  margin-top: 30px;
  padding: 0px 20px;
}

.input_container {
  margin-top: 20px;
}

.input_container input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--color-6);
  border-radius: 5px;
}

.btn_container {
  margin: 10px 0px;
  text-align: center;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-4);
  background: var(--color-1);
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
}

.btn:hover {
  transform: scale(1.05);
}

.error {
  text-align: center;
  color: var(--color-5);
}

.users_container {
  margin-top: 10px;
  overflow-y: auto;
}

.user_wrapper {
  cursor: pointer;
}

.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_detail {
  display: flex;
  align-items: center;
}
.user_detail h6 {
  margin-left: 10px;
}

.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.messages_container {
  position: relative;
  width: 100%;
}
.messages_user {
  padding: 5px;
  text-align: center;
}
.no_conv {
  font-size: 20px;
  color: var(--color-4);
  text-align: center;
}

.message_form {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.message_form input {
  width: 40vw;
  margin: 0px 10px 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.message_form .btn {
  margin-top: -10px;
}

.messages {
  height: calc(100vh - 240px);
  overflow-y: auto;
}

.message_wrapper {
  margin-top: 5px;
  padding: 0px 5px;
}

.message_wrapper p {
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border-radius: 5px;
}

.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}

.messages {
  overflow-y: auto;
}

.message_wrapper {
  margin-top: 5px;
  padding: 0px 5px;
}

.message_wrapper p {
  padding: 10px;
  display: inline-block;
  max-width: 80%;
  text-align: left;
  border-radius: 5px;
}

.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}

.message_wrapper.own {
  text-align: right;
  /* padding: 10px; */
}
.me {
  background: #38bdf8;
  color: white;
}
.friend {
  background: #e4e4e7;
}

.selected_user {
  background-color: #e4e4e7;
}

.truncate {
  font-size: 14px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate strong {
  margin-right: 10px;
}

.unread {
  margin-left: 10px;
  background: var(--color-3);
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}

.form-control {
  width: 80%;
  max-width: 100% !important;
}

.sign-form {
  max-width: 100% !important;
}

.sign-group {
  /* width: 300px; */
}

.leaflet-container {
  width: 100%;
  height: 70vh;
}
