@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.search-link,
.search-link:hover {
  text-decoration: none;
  color: white;
}

.destyle {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 3px 9px;
  border: 0 none !important;
  font-weight: 500;
}

.btn-search {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  background-color: #9333ea !important;
}

.btn-sign {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  background-color: #9333ea !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

#offcanvasNavbar,
#offcanvasNavbar:focus,
#offcanvasNavbar:active {
  border: 0 none !important;
  box-shadow: none;
}

.dd-wrapper {
  color: aquamarine;
  background-color: aquamarine;
}

.background {
  background-image: url("https://images.pexels.com/photos/1254140/pexels-photo-1254140.jpeg");
  height: 500px;
  background-size: 100%;
}

.home-search {
  padding: 9px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  background-color: #9333ea !important;
}


