@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.link {
  color: #9333ea !important;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.search-link,
.search-link:hover {
  text-decoration: none;
  color: white;
}

.destyle {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 3px 9px;
  border: 0 none !important;
  font-weight: 500;
}

.btn-search {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  background-color: #9333ea !important;
}

.btn-home {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  background-color: #1e40af !important;
}

.btn-sign {
  padding: 3px 9px;
  border: 0 none !important;
  border-radius: 20px !important;
  font-weight: 600 !important;
  background-color: #9333ea !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

#offcanvasNavbar,
#offcanvasNavbar:focus,
#offcanvasNavbar:active {
  border: 0 none !important;
  box-shadow: none;
}

.dd-wrapper {
  color: aquamarine;
  background-color: aquamarine;
}

.background {
  background-image: url("./assets/golden.jpg");
  background-repeat: no-repeat, repeat;
  height: 350px;
  background-size: 100%;
}

.homebar {
  padding: 9px 9px;
  border: 0 none !important;
  font-weight: 600 !important;
  background-color: #34d399 !important;
}

.form-control {
  max-width: 85% !important;
}

.leaflet-container {
  width: 40vw;
  height: 70vh;

}
